#####################################################
###  gitignore  for java folder                   ###
#####################################################
/java/**/*.war
/java/**/*.ear
/java/**/*.zip
/java/**/*.tar
/java/**/*.tar.gz
/java/**/*.rar
/java/**/*.class
/java/**/*.tmp
/java/**/*.bak
/java/**/*.swp
/java/**/*~.nib
/java/**/*.log

# Eclipse specific git ignore
/java/**/*.pydevproject
/java/**/.metadata
/java/**/.recommenders
/java/**/bin/**
/java/**/tmp/**
/java/**/tmp/**/*
/java/**/local.properties
/java/**/.loadpath
/java/**/target/
/java/**/RemoteSystemsTempFiles
/java/**/**/*.classpath
/java/**/*.launch
/builds/**/nbproject/

# External tool builders
/java/**/.externalToolBuilders/

# Gradle specific files/folders
/java/**/.gradle
/java/**/build/

# IDEA project files
**/*.iml
**/*.idea
/java/**/out/
/java/**/target/
/java/**/tmpdest.xml
/java/**/tmpsrc.xml
/java/**/**/.idea
/java/**/out/
*.trc
*.iml
/target
**/out

# Project specific files
/logs


.classpath
.project
.settings/
/bin/
